---

import Layout from '../layouts/Layout.astro';
import HeroGrid from '../components/HeroGrid.astro';
import SecondSection from '../components/SecondSection.astro';
import BafiHeader from '../components/BafiHeader.astro';
import ThirdSection from '../components/ThirdSection.astro';
import MuteIcon from '../components/MuteIcon.astro';
---

<Layout title="Bafi">
	<div id="mute-container">
		<MuteIcon />
	</div>
	<HeroGrid />
	<div class="rest-content">
		<BafiHeader />
		<SecondSection />
		<ThirdSection />
	</div>
</Layout>

<style>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1000px;
		stroke: 10px solid var(--brand-primary);
		padding: var(--spacing-large);
	}
	#mute-container{
		display: flex;
		justify-content: end;
		align-items: center;
		padding: 0px 16px 16px 0;
		position: fixed;
		top: 22px;
		right: 8%;
		z-index: 200;
	}
</style>