---


---

<script>
  const heroContainer = document.getElementById('hero-container') as HTMLDivElement;
  const width = heroContainer.clientWidth;
  const height = heroContainer.clientHeight;
  const canvas = document.getElementById('hero-canvas') as HTMLCanvasElement;
  canvas.width = width;
  canvas.height = height;


  let muted = false;
    declare const rive: any;
    const r = new rive.Rive({
      src: '/bafi-hero.riv',
      canvas: canvas,     
      autoplay: true,
      artboard: 'main-artboard',
      stateMachines: 'main-state-machine'      
    });
    const mainArtboard = r.artboard('main-artboard');
    console.log(mainArtboard)
    const muteIcon = document.getElementById('mute-icon-box')
    if(muteIcon){

    muteIcon.addEventListener('click', () => {
        muted = !muted;

        mainArtboard.setBooleanInput('muted', muted, 'Logo');
    });
  }
  </script>
  <div class="hero-container" id="hero-container">
    <canvas id="hero-canvas" class="cursor-none active:cursor-[pointer-down]"></canvas>
  </div>
  <style>
    .hero-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>